*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section .prallax-content
{
    text-align: center;
}

section .prallax-content h2
{
    font-size: 24vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

section:nth-child(1) .prallax-content h2
{
    background-image: url(/img/pexels-cátia-matos-1072179.jpg);
}
section:nth-child(2) .prallax-content h2
{
    background-image: url(/img/pexels-mikael-blomkvist-6476584.jpg);
}
section:nth-child(3) .prallax-content h2
{
    background-image: url(/img/pexels-nita-52910.jpg);
}
section:nth-child(4) .prallax-content h2
{
    background-image: url(/img/pexels-pixabay-259915.jpg);
}

section .prallax-content p
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

section .prallax-content a
{
    display: inline-block;
    padding: 10px 20px;
    border: 2px;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}